{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <div class="card mt-4">
        <div class="card-body">
            <h1 class="card-title">BJJ Store</h1>
            <p class="card-text">Brazilian Jiu-Jitsu (BJJ) is a self-defense martial art and combat sport based on grappling, ground fighting and submission holds. It focuses on the skill of controlling one's opponent, gaining a dominant position and using a number of techniques to force them in to submission via joint locks or chokeholds.<br><br>
            BJJ teaches that a smaller, weaker person can successfully defend themselves against a bigger, stronger, heavier opponent by using leverage and weight distribution to take the fight to the ground and then using submissions to defeat them. BJJ training can be used for sport grappling tournaments and in self-defense situations.<br><br>
            In this site you can check the stocking of some items in our stores.
        </p>
        </div>
    </div>
{% endblock %}
